<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <title>Summarize GPT</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='chatgpt-696x392.jpeg') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

  <body>
    <div class="chat-container">
      <h1>Summarize GPT</h1>
      <form id="chat-form">
        <input
          type="text"
          id="input-url"
          name="input_url"
          placeholder="Enter the paper URL"
        />
        <button type="submit" id="submitBtn">Submit</button>
      </form>
      <div id="result"></div>
    </div>

    <script>
      window.onload = function () {
        document
          .getElementById("chat-form")
          .addEventListener("submit", function (event) {
            // Prevent the form from submitting and refreshing the page
            event.preventDefault();

            let userInput = document.getElementById("input-url").value;
            let url = `/generate_summary?input_url=${encodeURIComponent(userInput)}`;

            fetch(url)
              .then((response) => response.json())
              .then((data) => {
                let content = data.content;
                let resultDiv = document.getElementById("result");
                resultDiv.innerHTML = content;
              })
              .catch((error) => {
                console.error("Error fetching GPT response:", error);
              });
          });
      };
    </script>
  </body>
</html>